body{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    padding: 5%;
    padding-top: 1%;
}

header{
	text-align: right;
}

header h1{
    color: #43796b;
    font-family: lulo-clean-w01-one-bold, sans-serif;
}

.italico{
    font-style: italic;
}

.img_flickr{
    text-align: center;
    padding-top: 2.5%;
}

.img_flickr > a > img{
    width: 50%;
    min-width: 200px;
}
table{
    margin: 2.5%;
    border-collapse: collapse;
    table-layout: fixed;
}

table td{
	border: 1px solid black;
	text-align: center;
	width: 23%;
}
table tr:first-child td:first-child{
	border-top: 0;
	border-left: 0;
}

caption{
	caption-side: bottom;
}

.invisible{
	color: lightgray;
	padding-top: 1px;
	position: relative;
	bottom: 5px;
}

a:link{
	text-decoration: none;
}

.hora{
	border-style: solid;
	border-color: #43796b;
	border-radius: 9px;
	border-width: 2px;
	padding-right: 3px;
	padding-left: 3px;
	font-size: 15px;
	display: inline;
}

.red{
	background-color: #F00;
}

.green{
	background-color: #0F0;
}

.blue{
	background-color: #00F;
}

.yellow{
	background-color: #FF0;
}

.magenta{
	background-color: #F0F;
}

.cyan{
	background-color: #0FF;
}

footer{
	text-align: center;
	position: relative;
	top: 70px;
}
